@model Domain.DTOs.VehicleRentalPriceDTO

@{
    string vehicleName = ViewBag.VehicleName;
    int vehicleId = ViewBag.VehicleId;
    Response response = ViewBag.Response;
    ViewData["Title"] = "Fiyat Silme |" + vehicleName;
}

<h1>Fiyat Silme | @vehicleName</h1>

<h3>Fiyatı Silmek istediğinizden emin misiniz?</h3>
@if (response != null)
{
    <message-box is-success="@response.IsSuccess" message="@response.Message"></message-box>
}
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleBrandName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleBrandName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleModelName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleModelName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentalPeriodId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentalPeriodId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentalPeriodName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentalPeriodName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>

    <form asp-action="Delete">
        @Html.HiddenFor(model => model.Id)
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Fiyatlar", "Index", new { vehicleId = vehicleId })
    </form>
</div>
